body{
    background-color: #DCDBE1;
}
.box {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1400px;
    height: 650px; 
    margin-left: -700px;
    margin-top: -325px;
}
.content{
    height: 650px;
}
.foto{
    height: 650px;
    background-image: url("https://is2-ssl.mzstatic.com/image/thumb/Purple113/v4/31/7f/b8/317fb8d3-e960-36fc-673c-c6bad47178fb/mzl.nckcjjie.png/1000x1000bb.png");
    background-size: cover;
}
.menu{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.menu a{
    text-decoration: none;
    color: gray;
    transition: 0.4s;
    text-transform: uppercase;
}
.menu a:hover{
    color: black;
}
.whatsapp-logo{
    margin-top: 80px;
}
.whatsapp-logo img{
    width: 140px;
    height: 95px;
}
.caption, .small-text{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
.text{
   margin-left: 30px;
    
}
.sendlink{
    margin-top: 60px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
select{
  
    height: 40px;
    all: unset; 
    border-bottom: 1px solid;
    background: url('https://www.charbase.com/images/glyph/9662') no-repeat right;
    background-size: 16px;
}
#txt{
    width: 300px;
    all: unset; 
    border-bottom: 2px black solid;
}
.submit{
    width: 150px;
    height: 50px;
    border: 0px;
    background-color: greenyellow;
    border-radius: 10px;
    transition: 0.4s;
}
.submit:hover{
    background-color: rgb(149, 219, 44);

}
.links{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links img{
    width: 200px;
    cursor: pointer;
}